@font-face {
    font-family: Cursed Timer ULiL;
    src: url("./CursedTimerULiL.ttf");
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom left, #0C4A6E, #0EA5E9);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #EEEEEE;
    width: 150px;
    font-style: normal;
    text-align: center;
}

.scoreboard {
    width: 117px;
    height: 120px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 5px;
    background: #080001;
    font-family: Cursed Timer ULiL, sans-serif;
    text-align: center;
}

.score {
    color: #F94F6D;
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    line-height: 130px;
}

.scoreboard__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.plus__btn {    
    box-sizing: border-box;
    font-family: Cursed Timer ULiL, sans-serif;
    color: #E0F2FE;
    background: #0C4A6E;
    width: 45px;
    height: 45px;
    border: 2px solid #E0F2FE;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
    cursor: pointer;
    padding-right: 10px;
}

.reset {
    width: 90px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-left: 10px;
}